body {
    background: linear-gradient(90deg, rgba(66,66,71,1) 0%, rgba(57,59,62,1) 17%, rgba(27,29,29,1) 79%);
    margin: 0;
}
h1 {
    margin: 0;
}
h2 {
        margin: 0;
    }
h3 {
    margin: 0;
}
h4 {
    margin: 0;
}
h5 {
    margin: 0;
}
p {
    margin: 0;
}
li {
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
button {
    background-color: transparent;
    border: none;
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.element-animation {
    opacity: 0;
}
.element-animation.element-show {
    opacity: 1;
    transition: opacity 1s linear;
}
.fixed_div__body {
    position: fixed;
    bottom: -10px;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fixed_button__body {
    padding: 0;
    background-color:transparent;
    border: 0;
    cursor: pointer;
}
.list__nav__header {
    display: flex;
    gap: 50px;
}
.logotip {
    width: 250px;
    height: 90px;
    margin-left: 100px;
    margin-top: 10px;
}
.header__services {
    padding: 0;
}
.head__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .button__header {
padding: 10px;

    background-color: #413EBB;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
} */
.link__nav__header {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 15px;
}
.link__nav__header:hover {
    background: rgba(45, 43, 43, 0.7);
    border-radius: 30px;
color: #FFFFFF;
}
.container {
    width: 1600px;
    margin: 0 auto;
    padding: 20px 0;
}
header {
    display: flex;
    background-image:linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)),url(../images/pexels-photo-4315570.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 800px;
    position: relative;
}
.service {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.service::before {
content: '';
background: #D9D9D9;
width: 40px;
height: 3px;
margin-right: 20px;
}
.descript__header h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
margin-bottom: 20px;
}
.main_text__header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.descript__header {
    margin-top: 300px;
}
.underline-difference {
    width: 1150px;
    height: 10px;
    margin: 20px auto;
    border-radius: 4px;
    background-color: #666666;
}
.main__container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__difference {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__li__list p {
    position: absolute;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #D36A6A;
    transform: rotate(-28.6deg);
    left:-150px;
    top: -26px;
    width: 305px;
}
.main__difference h2 {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 36px;
}
.main__list__difference {
    margin: 0 auto;
    display: flex;
    gap: 100px;
    padding: 0;
}
.main__img__difference {
    background-image: url(../images/differenceopp.jpeg);
    background-size: cover;
    width: 200px;
    height: 290px;
    border-radius: 8px;
    transition:all 1s linear;
}
.main__img__difference:hover {
    background-image: url(../images/differenceop.jpeg);
}
.main__img__difference-1 {
    background-image: url(../images/-1.jpeg);
    background-size: cover;
    width: 200px;
    height: 290px;
    border-radius: 8px;
    transition:all 1s linear;
}
.main__img__difference-1:hover {
    background-image: url(../images/-1h.jpeg);
}
.main__img__difference-2 {
    background-image: url(../images/-2.jpeg);
    background-size: cover;
    width: 200px;
    height: 290px;
    border-radius: 8px;
    transition:all 1s linear;
}
.main__img__difference-2:hover {
    background-image: url(../images/-2h.jpeg);
}
.main__img__difference-3 {
    background-image: url(../images/-3.jpeg);
    background-size: cover;
    width: 200px;
    height: 290px;
    border-radius: 8px;
    transition:all 1s linear;
}
.main__img__difference-3:hover {
    background-image: url(../images/-3h.jpeg);
}
.main__li__list {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services {
    background-image:linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)),url(../images/фон-услуги.jpg);
    background-size: cover;
    position: relative;
}
.services__h2 {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 97px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.cont__services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.li__list__services {
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    position: relative;
}
.text__button__services {
    font-family: 'Prompt';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 54px;
display: flex;
text-align: center;
align-items: center;
color: #1C1C1C;
}
.li__list__services p {
    font-family: 'Prompt';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 54px;
display: flex;
align-items: center;
color: #1C1C1C;
text-align: center;
}
.li__list__services::after {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: '';
    background-color: #db2d2e;
}
.cursor {
    position: absolute;
    right: -30px;
    bottom: -30px;
}
.li__list__services:hover {
    box-shadow: 1px -2px 24px 0px rgba(0, 0, 0, 1);
}
.li__list__services:hover::after {
    height: 2px;
    animation-name: line;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
.list__sect__services {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;
    width: 1110px;
    padding: 0;
}
.price__pranie {
    background-image: url(../images/back-prices.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.button__services__info {
    width: 150px;
    height: 50px;
    border: 3px solid #000000;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    transition:color 0.3s linear, border-color 0.3s linear ;
    cursor: pointer;
}
.button__margin__not {
    margin-top: 0;
}
.button__services__info:hover{
    color: #db2d2e;
    border-color: #db2d2e;
}
.text__button__line_height{
    line-height: 40px;
}
.main_price_clean {
    display: flex;
    flex-direction: column;
    background-image: url(../images/back-prices.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.about_automax {
    background-color: #0F1211;
    display: flex;
    padding: 100px;
}
.about__name {
    text-align: center;
    font-family: 'prompt';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #666666;
    margin-bottom: 30px;
}
.about__name span {
    color: #C03232;
}
.about__wrap-container {
    display: flex;
    width: 100%;
}
.icon__about_automax {
    width: 50%;
}
.text__about_automax {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about_service {
    background-color: #FFFFFF;
    width: 80%;
    padding: 40px;
    border-radius: 10px;
    margin: 0 auto;
}
.underline_prices {
    width: 1150px;
    height: 20px;
    margin: 20px auto;
    border-radius: 4px;
    background-color: #C03232;
}
.price_list_pranie {
    transition: opacity 0.5s linear;
    position:absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6));;
    border-radius: 10px;
    z-index: 998;
}
.price_list_przenoszenie {
    margin: 0 auto;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 10px solid #000000;
}
.price__main-text {
    text-align: center;
    font-family: 'Poppins';
    font-size: 60px;
    color: #D9D9D9;
    font-weight: 900;
    line-height: 65px;
    margin-bottom: 20px;
}
.komplex-pranie {
    padding-left: 40px;
}
.underline_prices_komplex {
    width: 600px;
    height: 10px;
    margin: 20px auto;
    border-radius: 4px;
    background-color: #666666;
}
.komplex-pranie h2{
    font-family: 'Poppins';
    font-size: 36px;
    color: #0c0728;
    font-weight: 900;
    line-height: 65px;
    margin-left: 50px;
}
.price_list_diagnostic {
    margin: 0 auto;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 10px solid #000000;
}
.komplex-pranie__list__li {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-size: 24px;
    color: #0c0728;
    font-weight: 400;
    line-height: 65px;
}
.komplex-pranie__img {
    margin-right: 10px;
}
.komplex-pranie__span__cennik {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C03232;
    font-weight: 600;
    border: 3px solid ;
    border-radius: 30%;
    margin-left: 5px;
}
.price__demontag {
    font-family: 'Poppins';
    font-size: 24px;
    color: #0c0728;
    font-weight: 600;
    line-height: 65px;
    margin-left: 50px;
}
.price__line__demontag {
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-family: 'Poppins';
    font-size: 16px;
    color: #0c0728;
    font-weight: 400;
    line-height: 40px;
}
.price__left-block {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
}
.price__wrap-container {
    display: flex;
    align-items: center;
}
.price__demontag__span {
    color: #db2d2e;
    font-size: 20px;
    margin-left: 5px;
}
td {
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    color: #0c0728;
    font-weight: 600;
    line-height: 14px;
    padding: 4px;
    border: 2px solid #1C1C1C;
    border-radius: 10px;
}
th {
    text-align: center;
    font-family: 'Poppins';
    font-size: 24px;
    color: #0c0728;
    font-weight: 600;
    line-height: 30px;
    padding: 8px;
    border: 2px solid #1C1C1C;
    border-radius: 10px;
}
.underline__table__services {
background-color: #0c0728;
width: 800px;
height: 5px;
border-radius: 4px;
}
.cont_all_servic {
    width: 100%;
    height: 100%;
    position: relative;
}
.button-close__servic {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.number {
    font-family: 'Poppins';
    font-size: 24px;
    color: #0c0728;
    font-weight: 900;
    line-height: 30px;
    padding: 8px;
}
.glowna_servis {
    font-family: 'Poppins';
    font-size: 22px;
    color: #0c0728;
    font-weight: 600;
    line-height: 26px;
    padding: 8px;
    border: 2px solid #1C1C1C;
    border-radius: 10px;
}
.price__services-table {
    margin: 0 auto;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 10px solid #000000;
}
.uslugi__li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex-wrap: nowrap;
}
.galka {
    margin: 5px 0;
    width: 50px;
    height: 50px;
    padding-right: 12px;
}
.about_automax__list {
position: absolute;
bottom:0;
left: 160px;
}
.google_map {
    margin-top: 20px;
    border: 4px;
    border-color: #1C1C1C;
}
.google_map iframe {
    border-radius: 8px;
}
.rabotnik-img {
    border-radius: 8px;
    height: 740px;
    width: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)),url(../images/e0423011-b7f4-446b-937c-87351d990ce9.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.uslug__ofera {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.about_automax__lokacia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
animation: opacity-transformX- 1s linear;
border-radius: 79px;
}
.about_automax__adress {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    color: #FFFFFF;
    margin-top: 16px;
    align-items: flex-start;
    text-align: center;
    padding: 10px;
}
.city-icon {
    padding-right: 10px;
}
.street-icon {
    padding-right: 10px;
}
.about_automax__adress-min {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    width: 600px;
    align-items: center;
    color: #FFFFFF;
    padding-left: 66px;
}
.about_automax__o-nas {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    width: 700px;
    text-align: center;
    flex-direction: column;
    animation: opacity-transformX 1s linear;
    height: 100%;
}
.about_automax__o-nas__span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 20px;
}
.about_automax__o-nas h2{
    font-family: 'Poppins';
    font-size: 42px;
    color: #FFFFFF;
    font-weight: 900;
    line-height: 30px;
    padding: 8px;
}
.about_automax__wrap-cont {
    height: 100%;
    display: flex;
    justify-content: space-between;
    }
footer {
    background-color: #20202F;
    padding: 20px;
}
.wrap_cont__footer {
    display: flex;
}
address {
    padding-left: 60px;
}
.links__footer {
    display: flex;
    padding-left: 60px;
}
.svg_facebook__footer {
    fill:#d6dae5 ;
}
.svg_facebook__footer:hover {
    fill: #13C6FF;
}
.contacts__footer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.contact_link__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.svg__address {
width: 42px;
height: 42px;
margin-right: 10px;
fill: #FFFFFF;
}
.exluse__tel__footer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.svg__address:hover {
    fill: #13C6FF;
}
.contact_link__footer:hover {
    color: #13C6FF;
}
.svg__address:hover .contact_link__footer {
    color: #13C6FF;
}
.contacts__footer li:hover .svg__address {
    fill: #13C6FF;
}
.cross-icon {
    width: 36px;
    height: 36px;
}
.cross-icon:hover {
    fill: #C03232;
}
.cont-hodowa {
width: 100%;
height: 100%;
    background-color: #FFFFFF;
    position: absolute;
    background:linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6));
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: opacity 0.5s linear;
}
.cont-all {
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6));
    position: absolute;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: opacity 0.5s linear;
}
.price_list_hamulce {
        margin:0 auto;
    border: 10px solid #000000;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.price_list_hodowa {
    margin:0 auto;
    border: 10px solid #000000;
    border-radius: 10px;
    background-color: #FFFFFF;
}
@media screen and (max-width: 1600px){
    .about_automax__wrap-cont{
       flex-direction: column;
    }
}
@keyframes opacity-transformX- {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    25%{
        opacity: 0.25;
        transform: translateX(-75%);
    }
    50%{
        opacity: 0.5;
        transform: translateX(-50%);
    }
    75%{
        opacity: 0.75;
        transform: translateX(-25%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes opacity-transformX {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    25%{
        opacity: 0.25;
        transform: translateX(75%);
    }
    50%{
        opacity: 0.5;
        transform: translateX(50%);
    }
    75%{
        opacity: 0.75;
        transform: translateX(25%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes line {
    0% {
width: 0%;
    }
    25% {
width: 25%;
    }
    50% {
width: 50%;
    }
    75% {
 width: 75%;
    }
    100% {
        width: 100%;
    }
}
@keyframes opacity{
0%{
    opacity:0;
}
25% {
    opacity: 0.25;
}
50% {
    opacity: 0.5;
}
75% {
    opacity: 0.75;
}
100% {
    opacity: 1;
}
}